body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 1200px; /* Set maximum width */
    margin: 0 auto; /* Center container horizontally */
    padding: 20px;
}

.content {
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    justify-content: space-between;
}

.weather-details > div {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
